.RadioGroup{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.RadioOption{
    color: var(--clr-light);
    font-family: var(--ff-primary);
    font-size: var(--fs-100);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

input[type='radio']{
    accent-color: var(--clr-yellow);
    padding: 2em;
    width: 1em;
    border: 2px solid var(--clr-light);
    margin-bottom: 0;
}